

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.record {
    /*4 column layout*/
    width: 22%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    float: left;
    position: relative;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}
._record{padding:10px;}
.recordtitle{text-align:center; margin-top:15px;}
.imagecontainer{border-radius:50%; overflow:hidden; width:80%; margin: 0 auto; }
.imagecontainer.featured{max-width:200px;}
.imagecontainer img{width:100%;}
.linknav{overflow:hidden; font-size:10px;}
.linknav:after{clear:both;}
.editlink {float:right;}

.record-container{
    overflow:hidden;
    padding:10px;
}

footer p{font-size:12px;}
footer{padding-top:50px;}

/*feel free to change any of the bootstrap classes*/
.navbar-inverse {
    border-radius: 0px;
    background: #F6E71D;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #181818;
    font-weight: 400;
}

body {background:orange !important;}
footer {padding:50px 0; border:5px solid #dedede;}


@media screen and (max-width:700px) {
    /*change to two column*/
    .record {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (max-width:500px){
    /*change to one column*/
    .record {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
