@model varsity_w_auth.Models.ViewModels.UpdateSport

@{
    ViewBag.Title = Model.sport.SportName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>@Model.sport.SportName</h3>
    <nav class="editnav">
        <ul>
            @if (Model.isadmin)
                {
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.sport.SportID })</li>
                }
            <li>@Html.ActionLink("Back to List", "List")</li>
        </ul>
    </nav>
    <hr />
    @{ /*
More Details about sports can go here.
*/}
    <h4>Teams Playing This Sport:</h4>
    <div class="sublist">
    @if (Model.teams.Count()==0)
    {
        <span class="asidemsg">No teams playing this sport.</span>
    }
    @foreach (var team in Model.teams)
    {
        <div class="listitem">
            <a href="/Team/Details/@team.TeamID">@team.TeamName</a>
        </div>
    }

    </div>
</div>

