@model varsity_w_auth.Models.ViewModels.ListSports

@{
    ViewBag.Title = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sports</h2>

@if (Model.isadmin) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Sport
        </th>

        @if (Model.isadmin)
        {
            <th> 
                Action
            </th>
         }
            
        </tr>

@foreach (var item in Model.sports) {
    <tr>
        <td>
            @Html.ActionLink(item.SportName, "Details", new { id = item.SportID })
        </td>
        
        @if(Model.isadmin){
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SportID }) &nbsp; &nbsp;
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.SportID })
            </td>
        }
        
    </tr>
}

</table>
